<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FlatironPool API</title>
  </head>
  <body style='font-family: roboto, sans-serif'>
    <h1>README:</h1>
    <p>This API is trash.</p>
    <ul>
      <li><a href="https://guarded-lowlands-30118.herokuapp.com/yeets">https://guarded-lowlands-30118.herokuapp.com/yeets</a> you are here</li>
    </ul>


  </body>
</html>
